In [71]:
import pandas as pd
df = pd.read_csv('/content/tmdb_specific_movies.csv')
df.head(5)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,origin_country,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"Adventure, Science Fiction, Action",https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,['US'],en,...,2019-04-24,2799439100,181,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Avenge the fallen.,Avengers: Endgame,False,8.238,26202
1,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"Action, Adventure, Fantasy, Science Fiction",https://www.avatar.com/movies/avatar,19995,tt0499549,['US'],en,...,2009-12-15,2923706026,162,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.587,32106
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"Adventure, Action, Science Fiction",http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,['US'],en,...,2015-12-15,2068223624,136,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.262,19662
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"Adventure, Action, Science Fiction",https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,['US'],en,...,2018-04-25,2052415039,149,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Destiny arrives all the same.,Avengers: Infinity War,False,8.236,30381
4,False,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,NaN,200000000,"Drama, Romance",https://www.paramountmovies.com/movies/titanic,597,tt0120338,['US'],en,...,1997-11-18,2264162353,194,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Nothing on Earth could come between them.,Titanic,False,7.905,25862

In [72]:
df['belongs_to_collection'].value_counts()

belongs_to_collection
{'id': 86311, 'name': 'The Avengers Collection', 'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg', 'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'}               4
{'id': 10, 'name': 'Star Wars Collection', 'poster_path': '/aSrMJYmQX8kpF26LijkCsYhBMvm.jpg', 'backdrop_path': '/zZDkgOmFMVYpGAkR9Tkxw0CRnxX.jpg'}                     2
{'id': 386382, 'name': 'Frozen Collection', 'poster_path': '/13Op41T3cALJedrKqYPrlc3cIbO.jpg', 'backdrop_path': '/s3vdRkK7KZFUDC8HEJo2GRKyVhW.jpg'}                    2
{'id': 328, 'name': 'Jurassic Park Collection', 'poster_path': '/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg', 'backdrop_path': '/njFixYzIxX8jsn6KMSEtAzi4avi.jpg'}                2
{'id': 87096, 'name': 'Avatar Collection', 'poster_path': '/3C5brXxnBxfkeKWwA1Fh4xvy4wr.jpg', 'backdrop_path': '/gxnvX9kF7RRUQYvB52dMLPgeJkt.jpg'}                     1
{'id': 762512, 'name': 'The Lion King (Reboot) Collection', 'poster_path': '/dGpIRn4Nqi63JO1RlKxjcPbQSAw.jpg', 'backdrop_path': '/1KeXF239BkqLChcAcF8gKl1stZz.jpg'}    1
{'id': 9485, 'name': 'The Fast and the Furious Collection', 'poster_path': '/zOCnMPoUxgJK1RFPfN4PcnT16gr.jpg', 'backdrop_path': '/z5A5W3WYJc3UVEWljSGwdjDgQ0j.jpg'}    1
{'id': 529892, 'name': 'Black Panther Collection', 'poster_path': '/VtMkk2s92SnDUt8eYyUyYaSJQK.jpg', 'backdrop_path': '/nsiBzWsmmerBMuD8TKHpYBTnfhD.jpg'}              1
{'id': 1241, 'name': 'Harry Potter Collection', 'poster_path': '/s4hXqX1VyWMc2ctJRuNBDB7YNJ3.jpg', 'backdrop_path': '/kmEsQL2vOTA0jnM28fXS45Ky8kX.jpg'}                1
{'id': 468222, 'name': 'The Incredibles Collection', 'poster_path': '/iOz4Zz72JIqkuTXSnbvNoloA6oD.jpg', 'backdrop_path': '/6oi6V1O9MJRNnfV8E9JMntmFqBD.jpg'}           1
Name: count, dtype: int64

Extracing and cleaning key datapoints

In [73]:
def clean_data(df):
    def safe_extract(data, key, separator="|"):
        if pd.isna(data) or data == '':
            return ''
        try:
            if isinstance(data, str):
                data = eval(data)
            if isinstance(data, list):
                return separator.join([item.get(key, '') for item in data])
            elif isinstance(data, dict):
                return data.get(key, '')
            else:
                return str(data)
        except (SyntaxError, TypeError, AttributeError, NameError):
            return ''

    df['belongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: safe_extract(x, 'name'))
    df['genres'] = df['genres'].apply(lambda x: safe_extract(x, 'name', separator="|"))
    df['spoken_languages'] = df['spoken_languages'].apply(lambda x: safe_extract(x, 'name', separator="|"))
    df['production_countries'] = df['production_countries'].apply(lambda x: safe_extract(x, 'name', separator="|"))
    df['production_companies'] = df['production_companies'].apply(lambda x: safe_extract(x, 'name', separator="|"))

    return df

df = clean_data(df)
print(df[['belongs_to_collection', 'genres', 'spoken_languages', 'production_countries', 'production_companies']].head())

     belongs_to_collection genres  \
0  The Avengers Collection
1        Avatar Collection
2     Star Wars Collection
3  The Avengers Collection
4

                                    spoken_languages  \
0                                       English|日本語|
1                                    English|Español
2                                            English
3                                           English|
4  English|Français|Deutsch|svenska|Italiano|Pусский

                      production_countries  \
0                 United States of America
1  United States of America|United Kingdom
2                 United States of America
3                 United States of America
4                 United States of America

                                production_companies
0                                     Marvel Studios
1  Dune Entertainment|Lightstorm Entertainment|20...
2                           Lucasfilm Ltd.|Bad Robot
3                                     Marvel Studios
4  Paramount Pictures|20th Century Fox|Lightstorm...

In [74]:
df.head(5)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,origin_country,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,The Avengers Collection,356000000,,https://www.marvel.com/movies/avengers-endgame,299534,tt4154796,['US'],en,...,2019-04-24,2799439100,181,English|日本語|,Released,Avenge the fallen.,Avengers: Endgame,False,8.238,26202
1,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,Avatar Collection,237000000,,https://www.avatar.com/movies/avatar,19995,tt0499549,['US'],en,...,2009-12-15,2923706026,162,English|Español,Released,Enter the world of Pandora.,Avatar,False,7.587,32106
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,Star Wars Collection,245000000,,http://www.starwars.com/films/star-wars-episod...,140607,tt2488496,['US'],en,...,2015-12-15,2068223624,136,English,Released,Every generation has a story.,Star Wars: The Force Awakens,False,7.262,19662
3,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,The Avengers Collection,300000000,,https://www.marvel.com/movies/avengers-infinit...,299536,tt4154756,['US'],en,...,2018-04-25,2052415039,149,English|,Released,Destiny arrives all the same.,Avengers: Infinity War,False,8.236,30381
4,False,/sCzcYW9h55WcesOqA12cgEr9Exw.jpg,,200000000,,https://www.paramountmovies.com/movies/titanic,597,tt0120338,['US'],en,...,1997-11-18,2264162353,194,English|Français|Deutsch|svenska|Italiano|Pусский,Released,Nothing on Earth could come between them.,Titanic,False,7.905,25862

Inspecting extracted columns to identify anomalies

In [75]:
for col in ['belongs_to_collection', 'genres', 'spoken_languages', 'production_countries', 'production_companies']:
    print(f"Value counts for column '{col}':")
    print(df[col].value_counts())
    print("-" * 30)

Value counts for column 'belongs_to_collection':
belongs_to_collection
The Avengers Collection                4
Star Wars Collection                   2
                                       2
Frozen Collection                      2
Jurassic Park Collection               2
Avatar Collection                      1
The Lion King (Reboot) Collection      1
The Fast and the Furious Collection    1
Black Panther Collection               1
Harry Potter Collection                1
The Incredibles Collection             1
Name: count, dtype: int64
------------------------------
Value counts for column 'genres':
genres
    18
Name: count, dtype: int64
------------------------------
Value counts for column 'spoken_languages':
spoken_languages
English                                              9
English|日本語|                                         1
English|Español                                      1
English|                                             1
English|Français|Deutsch|svenska|Italiano|Pусский    1
English|हिन्दी|Pусский                               1
العربية|English|Español|ภาษาไทย                      1
English|한국어/조선말|Kiswahili|                           1
English|Pусский                                      1
English|Français                                     1
Name: count, dtype: int64
------------------------------
Value counts for column 'production_countries':
production_countries
United States of America                   16
United States of America|United Kingdom     1
United Kingdom|United States of America     1
Name: count, dtype: int64
------------------------------
Value counts for column 'production_companies':
production_companies
Marvel Studios                                                                  5
Amblin Entertainment|Universal Pictures                                         2
Walt Disney Pictures|Walt Disney Animation Studios                              2
Dune Entertainment|Lightstorm Entertainment|20th Century Fox|Ingenious Media    1
Paramount Pictures|20th Century Fox|Lightstorm Entertainment                    1
Lucasfilm Ltd.|Bad Robot                                                        1
Original Film|One Race|Universal Pictures                                       1
Walt Disney Pictures|Fairview Entertainment                                     1
Warner Bros. Pictures|Heyday Films                                              1
Lucasfilm Ltd.                                                                  1
Walt Disney Pictures|Mandeville Films                                           1
Walt Disney Pictures|Pixar                                                      1
Name: count, dtype: int64
------------------------------

Converting columns datatypes

In [76]:
df.columns

Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'origin_country', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count'],
      dtype='object')

* Converting 'budget', 'id', 'popularity' values to numeric datatype

In [77]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce')
df['id'] = pd.to_numeric(df['id'], errors='coerce')

In [78]:
df.dtypes

adult                       bool
backdrop_path             object
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                         int64
imdb_id                   object
origin_country            object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                    int64
runtime                    int64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                       bool
vote_average             float64
vote_count                 int64
dtype: object

* Converting 'release_date' to datetime

In [79]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['release_date'].head(5)

0   2019-04-24
1   2009-12-15
2   2015-12-15
3   2018-04-25
4   1997-11-18
Name: release_date, dtype: datetime64[ns]

Replacing Unrealistic values

* Replacing '0' with NaN in Budget, Revenue, and Runtime.

In [80]:
import numpy as np
def replace_zero_with_nan(df, columns):
    for col in columns:
        df[col] = df[col].replace(0, np.nan)
    return df

columns_to_check = ['budget', 'revenue', 'runtime']
df = replace_zero_with_nan(df, columns_to_check)

* Inferring values from similar movies to fill NaNs using median

In [81]:
for col in columns_to_check:
  df[col] = df.groupby('genres')[col].transform(lambda x: x.fillna(x.median()))
  df[col] = df[col].fillna(df[col].median())

* Converting values in 'budget' and 'revenue' to million USD.

In [82]:
df['budget'] = df['budget'] / 1000000
df['revenue'] = df['revenue'] / 1000000

In [83]:
df['revenue'].head(5)

0    2799.439100
1    2923.706026
2    2068.223624
3    2052.415039
4    2264.162353
Name: revenue, dtype: float64

In [84]:
df['budget'].head(5)

0    356.0
1    237.0
2    245.0
3    300.0
4    200.0
Name: budget, dtype: float64

Analyzing movies with '0' vote_count

In [85]:
zero_vote_count_movies = df[df['vote_count'] == 0]

if not zero_vote_count_movies.empty:
    print("Movies with 0 vote counts:")
    print(zero_vote_count_movies[['title', 'vote_average', 'vote_count']])
else:
    print("No movies with 0 vote counts found.")

No movies with 0 vote counts found.

In [86]:
# Exporting updated dataset
df.to_csv('Done_Movies_0_votes.csv', index=False)

* Replacing known placeholders with NaN in overview and tagline columns.

In [87]:
print(df[['overview', 'tagline']].values.tolist())

[["After the devastating events of Avengers: Infinity War, the universe is in ruins due to the efforts of the Mad Titan, Thanos. With the help of remaining allies, the Avengers must assemble once more in order to undo Thanos' actions and restore order to the universe once and for all, no matter what consequences may be in store.", 'Avenge the fallen.'], ['In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.', 'Enter the world of Pandora.'], ['Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.', 'Every generation has a story.'], ['As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.', 'Destiny arrives all the same.'], ["101-year-old Rose DeWitt Bukater tells the story of her life aboard the Titanic, 84 years later. A young Rose boards the ship with her mother and fiancé. Meanwhile, Jack Dawson and Fabrizio De Rossi win third-class tickets aboard the ship. Rose tells the whole story from Titanic's departure through to its death—on its first and last voyage—on April 15, 1912.", 'Nothing on Earth could come between them.'], ['Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.', 'The park is open.'], ["Simba idolizes his father, King Mufasa, and takes to heart his own royal destiny. But not everyone in the kingdom celebrates the new cub's arrival. Scar, Mufasa's brother—and former heir to the throne—has plans of his own. The battle for Pride Rock is ravaged with betrayal, tragedy and drama, ultimately resulting in Simba's exile. With help from a curious pair of newfound friends, Simba will have to figure out how to grow up and take back what is rightfully his.", 'The king has returned.'], ['When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!', 'Some assembly required.'], ['Deckard Shaw seeks revenge against Dominic Toretto and his family for his comatose brother.', 'Vengeance hits home.'], ['When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.', 'A new age has come.'], ["King T'Challa returns home to the reclusive, technologically advanced African nation of Wakanda to serve as his country's new leader. However, T'Challa soon finds that he is challenged for the throne by factions within his own country as well as without. Using powers reserved to Wakandan kings, T'Challa assumes the Black Panther mantle to join with ex-girlfriend Nakia, the queen-mother, his princess-kid sister, members of the Dora Milaje (the Wakandan 'special forces') and an American secret agent, to prevent Wakanda from being dragged into a world war.", 'Long live the king.'], ["Harry, Ron and Hermione continue their quest to vanquish the evil Voldemort once and for all. Just as things begin to look hopeless for the young wizards, Harry discovers a trio of magical objects that endow him with powers to rival Voldemort's formidable skills.", 'It all ends.'], ['Rey develops her newly discovered abilities with the guidance of Luke Skywalker, who is unsettled by the strength of her powers. Meanwhile, the Resistance prepares to do battle with the First Order.', 'Darkness rises...and light to meet it.'], ['Elsa, Anna, Kristoff and Olaf head far into the forest to learn the truth about an ancient mystery of their kingdom.', 'The past is not what it seems.'], ["Three years after Jurassic World was destroyed, Isla Nublar now sits abandoned. When the island's dormant volcano begins roaring to life, Owen and Claire mount a campaign to rescue the remaining dinosaurs from this extinction-level event.", 'The park is gone.'], ["Young princess Anna of Arendelle dreams about finding true love at her sister Elsa’s coronation. Fate takes her on a dangerous journey in an attempt to end the eternal winter that has fallen over the kingdom. She's accompanied by ice delivery man Kristoff, his reindeer Sven, and snowman Olaf. On an adventure where she will find out what friendship, courage, family, and true love really means.", 'Only the act of true love will thaw a frozen heart.'], ["A live-action adaptation of Disney's version of the classic tale of a cursed prince and a beautiful young woman who helps him break the spell.", 'Be our guest.'], ['Elastigirl springs into action to save the day, while Mr. Incredible faces his greatest challenge yet – taking care of the problems of his three children.', "It's been too long, dahlings."]]

In [88]:
# This replaces some known placeholders in these columns with NaN
for col in ['overview', 'tagline']:
    df[col] = df[col].replace(['No Data', 'No overview found.', 'No Overview', 'No movie overview available.'], np.nan)
    df[col] = df[col].replace(['No tagline found.', 'No Tagline', 'No movie tagline available.'], np.nan)

# Checking how many NaN values are now in these columns after replacement.
df[['overview', 'tagline']].isna().sum()

overview    0
tagline     0
dtype: int64

In [89]:
#Exporting current update
df.to_csv('Replaced all unrealistic values.csv', index=False)

There were no placeholder values like 'No Data', 'N/A', or similar in the overview or tagline columns,so no replacements were necessary. Both columns had valid data entries throughout.

* Removing duplicates and dropping rows with unknown 'id' or 'title'.

In [90]:
# Checking for the shape of the dataframe before removing duplicates
df.shape

(18, 26)

In [91]:
df = df.drop_duplicates(subset=['id', 'title'])
df = df.dropna(subset=['id', 'title'])

# Checking how many rows are left after dropping duplicate columns
df.shape

(18, 26)

After removing duplicates and dropping rows with missing id or title, the dataset now contains 18 rows.

* Keeping only rows where at least 1- columns have non-NaN values

In [92]:
df = df.dropna(thresh=10, axis=0)

* Filtering to include only 'Released' movies, then drop 'status'.

In [93]:
# Filtering to include only 'Released' movies
df = df[df['status'] == 'Released']

# Dropping the 'status' column
df = df.drop('status', axis=1)
df.columns

Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'origin_country', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [94]:
# Exporting updated dataset
df.to_csv('Proceed with Reorder and Finalize DataFrame.csv', index=False)

**Reordering columns**

Some of the colums requested are not part of the original movies dataset, so it has to be extracted from the same API but fetching 'credits' data.

In [ ]:
import requests
import pandas as pd

API_KEY = "N/A"
MOVIE_IDS = [0, 299534, 19995, 140607, 299536, 597, 135397,
             420818, 24428, 168259, 99861, 284054, 12445,
             181808, 330457, 351286, 109445, 321612, 260513]

def fetch_movie_details(movie_id):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}/credits"
    headers = {
        "Authorization": f"Bearer {API_KEY}",
        "accept": "application/json"
    }

    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()
        return response.json()
    except requests.exceptions.HTTPError as e:
        print(f"Error fetching credits data {movie_id}: {e}")
        return None
    except Exception as e:
        print(f"Unexpected error for credits data {movie_id}: {e}")
        return None

credits_data = []
for movie_id in MOVIE_IDS:
    movie = fetch_movie_details(movie_id)
    if movie:
        credits_data.append(movie)
    else:
        print(f"Skipped movie ID {movie_id}")

data = pd.DataFrame(credits_data)

if 'genres' in data.columns:
    data['genres'] = data['genres'].apply(lambda x: ', '.join([g['name'] for g in x]) if isinstance(x, list) else '')
else:

# Creating an empty 'genres' column to handle the case where 'genres' column is missing
    data['genres'] = ''

print(f"\nSuccessfully fetched {len(data)} movies")
print("\nDataFrame info:")
print(data.info())
print("\nFirst 5 movies:")
print(data.head())

# Saving the Credits dataset in CSV format
data.to_csv('credits.csv', index=False)
print("\nData saved to 'credits.csv'")

Error fetching credits data 0: 404 Client Error: Not Found for url: https://api.themoviedb.org/3/movie/0/credits
Skipped movie ID 0

Successfully fetched 18 movies

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      18 non-null     int64
 1   cast    18 non-null     object
 2   crew    18 non-null     object
 3   genres  18 non-null     object
dtypes: int64(1), object(3)
memory usage: 708.0+ bytes
None

First 5 movies:
       id                                               cast  \
0  299534  [{'adult': False, 'gender': 2, 'id': 3223, 'kn...
1   19995  [{'adult': False, 'gender': 2, 'id': 65731, 'k...
2  140607  [{'adult': False, 'gender': 2, 'id': 3, 'known...
3  299536  [{'adult': False, 'gender': 2, 'id': 3223, 'kn...
4     597  [{'adult': False, 'gender': 2, 'id': 6193, 'kn...

                                                crew genres
0  [{'adult': False, 'gender': 0, 'id': 3019687, ...
1  [{'adult': False, 'gender': 2, 'id': 2710, 'kn...
2  [{'adult': False, 'gender': 2, 'id': 189406, '...
3  [{'adult': False, 'gender': 0, 'id': 3019687, ...
4  [{'adult': False, 'gender': 2, 'id': 8525, 'kn...

Data saved to 'credits.csv'

In [96]:
credits = data.copy()
credits.head(5)

,id,cast,crew,genres
0,299534,"[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 0, 'id': 3019687, ...",
1,19995,"[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 2710, 'kn...",
2,140607,"[{'adult': False, 'gender': 2, 'id': 3, 'known...","[{'adult': False, 'gender': 2, 'id': 189406, '...",
3,299536,"[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 0, 'id': 3019687, ...",
4,597,"[{'adult': False, 'gender': 2, 'id': 6193, 'kn...","[{'adult': False, 'gender': 2, 'id': 8525, 'kn...",

In [97]:
credits.columns

Index(['id', 'cast', 'crew', 'genres'], dtype='object')

The new dataframe has some missing columns which must be extracted in order to proceed with the analysis.

* Creating cast-size column based on cast column

In [98]:
import pandas as pd

def get_cast_size(cast_data):
    try:

        if isinstance(cast_data, str) and cast_data.startswith('[') and cast_data.endswith(']'):
            cast_data = eval(cast_data)

        if isinstance(cast_data, list):
            return len(cast_data)

        return 0

    except (SyntaxError, TypeError, NameError):
        return 0

credits['cast_size'] = credits['cast'].apply(get_cast_size)
print(credits[['cast', 'cast_size']].head())

                                                cast  cast_size
0  [{'adult': False, 'gender': 2, 'id': 3223, 'kn...        105
1  [{'adult': False, 'gender': 2, 'id': 65731, 'k...         65
2  [{'adult': False, 'gender': 2, 'id': 3, 'known...        182
3  [{'adult': False, 'gender': 2, 'id': 3223, 'kn...         69
4  [{'adult': False, 'gender': 2, 'id': 6193, 'kn...        116

In [99]:
credits.head(5)

,id,cast,crew,genres,cast_size
0,299534,"[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 0, 'id': 3019687, ...",,105
1,19995,"[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 2710, 'kn...",,65
2,140607,"[{'adult': False, 'gender': 2, 'id': 3, 'known...","[{'adult': False, 'gender': 2, 'id': 189406, '...",,182
3,299536,"[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 0, 'id': 3019687, ...",,69
4,597,"[{'adult': False, 'gender': 2, 'id': 6193, 'kn...","[{'adult': False, 'gender': 2, 'id': 8525, 'kn...",,116

* Creating crew_size column based on crew column.

In [100]:
def get_crew_size(crew_data):
    try:
        if isinstance(crew_data, str) and crew_data.startswith('[') and crew_data.endswith(']'):
            crew_data = eval(crew_data)
        if isinstance(crew_data, list):
            return len(crew_data)
        return 0
    except (SyntaxError, TypeError, NameError):
        return 0

credits['crew_size'] = credits['crew'].apply(get_crew_size)
print(credits[['crew', 'crew_size']].head())
credits.head()

                                                crew  crew_size
0  [{'adult': False, 'gender': 0, 'id': 3019687, ...        593
1  [{'adult': False, 'gender': 2, 'id': 2710, 'kn...        986
2  [{'adult': False, 'gender': 2, 'id': 189406, '...        257
3  [{'adult': False, 'gender': 0, 'id': 3019687, ...        724
4  [{'adult': False, 'gender': 2, 'id': 8525, 'kn...        258

,id,cast,crew,genres,cast_size,crew_size
0,299534,"[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 0, 'id': 3019687, ...",,105,593
1,19995,"[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 2710, 'kn...",,65,986
2,140607,"[{'adult': False, 'gender': 2, 'id': 3, 'known...","[{'adult': False, 'gender': 2, 'id': 189406, '...",,182,257
3,299536,"[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 0, 'id': 3019687, ...",,69,724
4,597,"[{'adult': False, 'gender': 2, 'id': 6193, 'kn...","[{'adult': False, 'gender': 2, 'id': 8525, 'kn...",,116,258

In [101]:
credits['director'] = credits['crew'].apply(
    lambda x: next((crew['name'] for crew in x if crew['job'] == 'Director'), None)
)

In [102]:
credits

,id,cast,crew,genres,cast_size,crew_size,director
0,299534,"[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 0, 'id': 3019687, ...",,105,593,Anthony Russo
1,19995,"[{'adult': False, 'gender': 2, 'id': 65731, 'k...","[{'adult': False, 'gender': 2, 'id': 2710, 'kn...",,65,986,James Cameron
2,140607,"[{'adult': False, 'gender': 2, 'id': 3, 'known...","[{'adult': False, 'gender': 2, 'id': 189406, '...",,182,257,J.J. Abrams
3,299536,"[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 0, 'id': 3019687, ...",,69,724,Joe Russo
4,597,"[{'adult': False, 'gender': 2, 'id': 6193, 'kn...","[{'adult': False, 'gender': 2, 'id': 8525, 'kn...",,116,258,James Cameron
5,135397,"[{'adult': False, 'gender': 2, 'id': 73457, 'k...","[{'adult': False, 'gender': 0, 'id': 2091351, ...",,52,423,Colin Trevorrow
6,420818,"[{'adult': False, 'gender': 2, 'id': 5294, 'kn...","[{'adult': False, 'gender': 2, 'id': 947, 'kno...",,20,44,Jon Favreau
7,24428,"[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 2, 'id': 12891, 'k...",,112,631,Joss Whedon
8,168259,"[{'adult': False, 'gender': 2, 'id': 12835, 'k...","[{'adult': False, 'gender': 2, 'id': 1445583, ...",,48,222,James Wan
9,99861,"[{'adult': False, 'gender': 2, 'id': 3223, 'kn...","[{'adult': False, 'gender': 2, 'id': 608, 'kno...",,72,636,Joss Whedon
10,284054,"[{'adult': False, 'gender': 2, 'id': 172069, '...","[{'adult': False, 'gender': 1, 'id': 3489513, ...",,66,557,Ryan Coogler
11,12445,"[{'adult': False, 'gender': 2, 'id': 10980, 'k...","[{'adult': False, 'gender': 2, 'id': 11343, 'k...",,103,154,David Yates
12,181808,"[{'adult': False, 'gender': 2, 'id': 2, 'known...","[{'adult': False, 'gender': 2, 'id': 3402805, ...",,109,212,Rian Johnson
13,330457,"[{'adult': False, 'gender': 1, 'id': 40462, 'k...","[{'adult': False, 'gender': 1, 'id': 211980, '...",,64,39,Jennifer Lee
14,351286,"[{'adult': False, 'gender': 2, 'id': 73457, 'k...","[{'adult': False, 'gender': 2, 'id': 3198118, ...",,39,381,J.A. Bayona
15,109445,"[{'adult': False, 'gender': 1, 'id': 40462, 'k...","[{'adult': False, 'gender': 2, 'id': 15774, 'k...",,60,284,Chris Buck
16,321612,"[{'adult': False, 'gender': 1, 'id': 10990, 'k...","[{'adult': False, 'gender': 2, 'id': 1390523, ...",,137,155,Bill Condon
17,260513,"[{'adult': False, 'gender': 2, 'id': 8977, 'kn...","[{'adult': False, 'gender': 2, 'id': 7087, 'kn...",,48,259,Brad Bird

In [103]:
credits['cast'] = credits['cast'].apply(lambda x: '|'.join([cast['name'] for cast in x]) if isinstance(x, list) else '')

In [104]:
credits

,id,cast,crew,genres,cast_size,crew_size,director
0,299534,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,"[{'adult': False, 'gender': 0, 'id': 3019687, ...",,105,593,Anthony Russo
1,19995,Sam Worthington|Zoe Saldaña|Sigourney Weaver|S...,"[{'adult': False, 'gender': 2, 'id': 2710, 'kn...",,65,986,James Cameron
2,140607,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,"[{'adult': False, 'gender': 2, 'id': 189406, '...",,182,257,J.J. Abrams
3,299536,Robert Downey Jr.|Chris Evans|Chris Hemsworth|...,"[{'adult': False, 'gender': 0, 'id': 3019687, ...",,69,724,Joe Russo
4,597,Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...,"[{'adult': False, 'gender': 2, 'id': 8525, 'kn...",,116,258,James Cameron
5,135397,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,"[{'adult': False, 'gender': 0, 'id': 2091351, ...",,52,423,Colin Trevorrow
6,420818,Chiwetel Ejiofor|John Oliver|Donald Glover|Jam...,"[{'adult': False, 'gender': 2, 'id': 947, 'kno...",,20,44,Jon Favreau
7,24428,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,"[{'adult': False, 'gender': 2, 'id': 12891, 'k...",,112,631,Joss Whedon
8,168259,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,"[{'adult': False, 'gender': 2, 'id': 1445583, ...",,48,222,James Wan
9,99861,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,"[{'adult': False, 'gender': 2, 'id': 608, 'kno...",,72,636,Joss Whedon
10,284054,Chadwick Boseman|Michael B. Jordan|Lupita Nyon...,"[{'adult': False, 'gender': 1, 'id': 3489513, ...",,66,557,Ryan Coogler
11,12445,Daniel Radcliffe|Emma Watson|Rupert Grint|Ralp...,"[{'adult': False, 'gender': 2, 'id': 11343, 'k...",,103,154,David Yates
12,181808,Mark Hamill|Carrie Fisher|Adam Driver|Daisy Ri...,"[{'adult': False, 'gender': 2, 'id': 3402805, ...",,109,212,Rian Johnson
13,330457,Kristen Bell|Idina Menzel|Josh Gad|Jonathan Gr...,"[{'adult': False, 'gender': 1, 'id': 211980, '...",,64,39,Jennifer Lee
14,351286,Chris Pratt|Bryce Dallas Howard|Rafe Spall|Jus...,"[{'adult': False, 'gender': 2, 'id': 3198118, ...",,39,381,J.A. Bayona
15,109445,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,"[{'adult': False, 'gender': 2, 'id': 15774, 'k...",,60,284,Chris Buck
16,321612,Emma Watson|Dan Stevens|Luke Evans|Josh Gad|Ke...,"[{'adult': False, 'gender': 2, 'id': 1390523, ...",,137,155,Bill Condon
17,260513,Craig T. Nelson|Holly Hunter|Sarah Vowell|Huck...,"[{'adult': False, 'gender': 2, 'id': 7087, 'kn...",,48,259,Brad Bird

In [105]:
credits.drop(columns=['genres', 'crew'], inplace=True)
credits.head()

,id,cast,cast_size,crew_size,director
0,299534,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,105,593,Anthony Russo
1,19995,Sam Worthington|Zoe Saldaña|Sigourney Weaver|S...,65,986,James Cameron
2,140607,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,182,257,J.J. Abrams
3,299536,Robert Downey Jr.|Chris Evans|Chris Hemsworth|...,69,724,Joe Russo
4,597,Leonardo DiCaprio|Kate Winslet|Billy Zane|Kath...,116,258,James Cameron

In [106]:
df_merged = df.merge(credits, on='id', how='left')

In [107]:
df.columns

Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'origin_country', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [109]:
df_merged.columns

Index(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'origin_country', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'cast_size', 'crew_size',
       'director'],
      dtype='object')

In [110]:
df_merged.drop(columns=['adult', 'imdb_id', 'original_title', 'video', 'homepage'], inplace=True)
df_merged.columns

Index(['backdrop_path', 'belongs_to_collection', 'budget', 'genres', 'id',
       'origin_country', 'original_language', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'tagline',
       'title', 'vote_average', 'vote_count', 'cast', 'cast_size', 'crew_size',
       'director'],
      dtype='object')

In [111]:
#Exporting final dataset
df_merged.to_csv('Finalized dataset.csv')

In [112]:
new_column_order = ['id', 'title', 'tagline', 'overview', 'release_date', 'genres', 'belongs_to_collection',
                    'original_language', 'spoken_languages', 'production_countries', 'production_companies',
                    'runtime', 'budget', 'revenue', 'popularity', 'vote_count', 'vote_average', 'cast', 'cast_size',
                    'crew_size', 'director']

# Reorder the columns
df_merged = df_merged[new_column_order]

# Reset the index
df_merged = df_merged.reset_index(drop=True)

In [113]:
# Exporting preprocessed dataset
df_merged.to_csv('Preprocessed dataset.csv', index=False)